github-php-client
.gradle
.idea
*.iml
*.class

# Package Files #
*.war
*.ear

KalturaRed5Server/bin
KalturaRed5Server/WEB-INF/classes/com
KalturaMediaServer/build
KalturaWowzaServer/release/xml
KalturaWowzaServer/release/tmp
KalturaWowzaServer/build

*.o
