{
  "test-name": "test-1",
  "service-url": "@SERVICE_URL@",
  "partner-id": "@PARTNER_ID@",
  "admin-secret": "@ADMIN_SECRET@",
  "stream-type": "hls",
  "path-to-ffmpeg": "@FFMPEG_EXECUTABLE@",
  "encoder": {
    "name": "ffmpeg",
    "path-to-executable": "@FFMPEG_EXECUTABLE@",
    "args": "@ARGS@"
  },
  "test-duration": @TEST_DURATION@,
  "destination-folder": "@DESTINATION_FOLDER@",
  "delete-files": @DELETE_FILES@,
  "entry-details": {
    "entry-name": "auto_test",
    "is-random": true,
    "dvr": @DVR@,
    "recording": @RECORDING@,
    "conversion-profile-id": @CONVERSION_PROFILE_ID@
  }
}

