{
  "test-name": "test-1",
  "service-url": "@SERVICE_URL@",
  "partner-id": "@PARTNER_ID@",
  "admin-secret": "@ADMIN_SECRET@",
  "stream-type": "hls",
  "path-to-ffmpeg": "@FFMPEG_EXECUTABLE@",
  "path-to-ffprobe": "@FFPROBE_EXECUTABLE@",
  "path-to-mediainfo" : "@MEDIAINFO_EXECUTABLE@",
  "encoder": {
    "type": "com.kaltura.media.quality.encoder.FFMPEG",
    "path-to-executable": "@FFMPEG_EXECUTABLE@",
    "args": "-y -f dshow -i video=\"Kaltura Virtual Camera\" -f dshow -i audio=\"Kaltura Virtual Microphone\"",
    "outputs" : [{
    	"type": "com.kaltura.media.quality.encoder.output.Record",
    	"file-name": "input.mp4"
    },{
    	"type": "com.kaltura.media.quality.encoder.output.RTMP",
    	"primary": true,
    	"args": "-movflags frag_keyframe+empty_moov",
    	"framerate": 30,
    	"video-codec": "libx264",
        "keyframe-interval": 3,
        "preset": "ultrafast",
        "audio-codec": "libmp3lame",
        "resolution": "320x240",
        "video-bitrate": 300,
        "audio-bitrate": 96
    },{
    	"type": "com.kaltura.media.quality.encoder.output.RTMP",
    	"primary": false,
    	"args": "-movflags frag_keyframe+empty_moov",
    	"framerate": 30,
    	"video-codec": "libx264",
        "keyframe-interval": 3,
        "preset": "ultrafast",
        "audio-codec": "libmp3lame",
        "resolution": "320x240",
        "video-bitrate": 300,
        "audio-bitrate": 96
    }]
  },
  "test-duration": 300,
  "destination-folder": "@DESTINATION_FOLDER@",
  "delete-files": false,
  "entry-details": {
    "entry-name": "auto_test",
    "is-random": true,
    "dvr": false,
    "recording": false
    // , "conversion-profile-id": @CONVERSION_PROFILE_ID@
  },
  "data-providers" : [{
	  "name" : "Wowza",
	  "type" : "com.kaltura.media.quality.provider.hls.Downloader",
	  "deffered": true,
	  "url-builder": {
		  "type" : "com.kaltura.media.quality.provider.url.EntryPlayManifestUrlBuilder"
	  }
  }, {
	  "name" : "NGINX",
	  "type" : "com.kaltura.media.quality.provider.hls.Downloader",
	  "deffered": true,
	  "url-builder": {
		  "type" : "com.kaltura.media.quality.provider.url.UrlBuilder",
		  "url-template" : "http://dev-hudson10.dev.kaltura.com:88/hls/%s_1.m3u8"
	  }
  }, {
	  "type" : "com.kaltura.media.quality.provider.MediaInfoParser",
	  "deffered": true,
	  "mediaParsers" : [
	      "com.kaltura.media.quality.validator.info.FFPROBE",
	      "com.kaltura.media.quality.validator.info.MediaInfo"
	  ]
  }],
  "data-validators" : [{
	  "type" : "com.kaltura.media.quality.validator.RenditionsComparator",
	  "deffered": true,
	  "comparators" : [{
		  "type" : "com.kaltura.media.quality.comparators.imagemagik.ImageMagikSegmentsComparator"
	  }, {
		  "type" : "com.kaltura.media.quality.comparators.vqmt.QualitySegmentsComparator",
		  "path-to-executable" : "C:/Program Files/MSU VQMT/msu_metric_64.exe",
		  "metric" : "psnr",
		  "color-component" : "YYUV"
	  }, {
		  "type" : "com.kaltura.media.quality.comparators.vqmt.QualitySegmentsComparator",
		  "path-to-executable" : "C:/Program Files/MSU VQMT/msu_metric_64.exe",
		  "metric" : "ssim_fast",
		  "color-component" : "YYUV"
	  }]
  },
  {
	  "type" : "com.kaltura.media.quality.validator.QRCodeComparator",
	  "deffered": true
  }],
  "result-loggers" : [{
	  "type" : "com.kaltura.media.quality.validator.logger.RenditionsCompareResultsLogger",
	  "name" : "renditions.compare",
	  "deffered": true
  }, {
	  "type" : "com.kaltura.media.quality.validator.logger.MediaInfoResultsLogger",
	  "name" : "segments.info",
	  "deffered": true
  }, {
	  "type" : "com.kaltura.media.quality.validator.logger.QRCodeCompareResultsLogger",
	  "name" : "qr.code.info",
	  "deffered": true
  }],
  "results-aggregators" : [{
	  "type" : "com.kaltura.media.quality.aggregators.SegmentsAggregator",
	  "path" : "segments.info.csv"
  }, {
	  "type" : "com.kaltura.media.quality.aggregators.RenditionsCompareAggregator",
	  "path" : "renditions.compare.csv"
  }, {
	  "type" : "com.kaltura.media.quality.aggregators.QrCodeCompareAggregator",
	  "path" : "qr.code.info.csv"
  }, {
	  "type" : "com.kaltura.media.quality.aggregators.QualitySegmentsCompareAggregator",
	  "skip-headers" : false,
	  "path" : "*/*/*.csv"
  }],
  "sync-entries": ["1_oorxcge2"]
}

